In [345]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

targetUrl = "https://www.timeanddate.com/holidays/south-korea/"

resp = requests.get(targetUrl)

resp.encoding = 'utf-8'

html= resp.text

htmlAll = BeautifulSoup(html,'html.parser')

row = []
totalRows = []
columnName = []


heads = htmlAll.find('thead')
head = heads.find_all('th')

for i in range(len(head)):
    colName = head[i].text
    columnName.append(colName)

In [301]:
columnName

['Date', '\xa0', 'Name', 'Type']

In [302]:
tbody = htmlAll.find('tbody')

In [303]:
len(tbody)

41

In [304]:
body = tbody.find_all('tr')

In [305]:
type(body)

bs4.element.ResultSet

In [306]:
len(body)

41

In [307]:
body[1]

In [329]:
b = body[4]

In [336]:
a = body[2].find('td', arrts = {'class':"nw"})

In [337]:
print(a)

None

In [338]:
a[0].text

TypeError: 'NoneType' object is not subscriptable

In [339]:
len(a)

TypeError: object of type 'NoneType' has no len()

In [340]:
a.text

AttributeError: 'NoneType' object has no attribute 'text'

In [341]:
b = body[1].find(attrs = {"class":"showrow"})

In [342]:
type(b)

NoneType

In [343]:
type(a)

NoneType

In [344]:
for j in range(len(body)):
    raw_date = body[j].find('th')
    if (raw_date is None):
        pass
        
    else:
        date = raw_date.text
        row.append(date)
        
        
    tdList = body[j].find_all('td')
    if (tdList is None):
        pass
    
    else:
        
        day = tdList[0].text
        holiday = tdList[1].text
        htype = tdList[2].text
        
        row.append(day)
        row.append(holiday)
        row.append(htype)
    totalRows.append(row)
    row = []
    print(j)

IndexError: list index out of range

In [316]:
pd.DataFrame(totalRows)

Empty DataFrame
Columns: []
Index: []

In [322]:
a = body[0].find_all('td')

In [323]:
type(a)

bs4.element.ResultSet