# PER / BPR 로 적정 주가 산출 후 현재 주가가 적정 주가보다 20% 이상 낮을 경우 매수

In [1]:
#PER 
#적정 PER -> 낮을수록 좋다. 10이하 6~4정도면 좋음
#5년 평균 PER * EPS = 적정주가 
#적정주가 /1.2 OR 0.8 = 20% 낮은 가격 ->매수 
#적정주가 /현재주가 = 1 -> 현재주가가 적정하다 
#0.96 -> 4퍼센트정도 과대평가 
#1.04 -> 4%정도 낮은 주가 

#PBR
#적정 PBR -> 낮을 수록 좋다. 1이면 현재 적정주가라는 것, 그 이하라면 좋음 
#가장 최근 PBS (PBS는 그간 쌓인 자산이니 가장 최근 값을 보면 된다)
#5년 평균 PBR * BPS = 적정주가 * 0.8 -> 매수 


#미래 주가 예측 
#미래 적정 주가 = 미래의 EPS(애널리스트 추정치) * 적정PER(5년간의 평균)

In [1]:
import urllib.parse
from bs4 import BeautifulSoup 
import requests 
import pandas as pd
import time

MARKET_CODE_DICT = {
    
    'kospi': 'stockMkt',
    'kosdaq': 'kosdaqMkt',
    'konex': 'konexMkt'
    
}
DOWNLOAD_URL = 'https://kind.krx.co.kr/corpgeneral/corpList.do'
naver_stock = 'https://finance.naver.com/item/main.nhn?code='

#종목코드 6자리 미만시 사용할 함수 
def zeroFill(columnValue):
    
    columnValue = str(columnValue)
    #앞을 0으로 채워라 제로필
    outValue = columnValue.zfill(6)  

    return outValue


#코스피 종목 불러올 함수 설정 
def get_stock_codes(market=None, delisted=False):
    
    params = {'method': 'download'}
    
    if market.lower() in MARKET_CODE_DICT:
        ## marketType 키 추가
        params['marketType'] = MARKET_CODE_DICT[market]
        #print(market.lower()+" market key is exist")
        
    else:
        print("invalid market")
    # make url  key=value & key = value
    params_string = urllib.parse.urlencode(params)
    request_url = DOWNLOAD_URL+"?"+params_string
    df = pd.read_html(request_url)[0]
    df["종목코드"] = df.종목코드.apply(zeroFill)
 
    return df


#종목 테이블에서 종목코드(100개) 가져오는 함수 
def get_code(market):
    
    codeList = []
    stocks = get_stock_codes(market)
    for i in range(100):
        stock_code = stocks.iloc[i]['종목코드']
        codeList.append(stock_code)
        #stock_name = stocks.iloc[0]['회사명']
        #print(stock_code)
        
    return codeList

In [2]:
#주가정보 테이블 생성 함수 
def stock_info(stockCode):
    url = naver_stock + stockCode #종목코드 url에 추가 
    table_df_list = pd.read_html(url, encoding='euc-kr')    # 한글이 깨짐. utf-8도 깨짐. 그래서 'euc-kr'로 설정함  
    table_df = table_df_list[3] #종목 정보가 담겨있는 테이블 추출 
    return table_df

In [12]:
#현재년도의 bps와 per 값 구하해 매입목표가격 정의 
def get_target_price(stockInfo): 
    
    bps_this_year = stockInfo.iloc[11,-2] #bps값 정의
    pbr_this_year = stockInfo.iloc[12,-2] #pbr값 정의
    try:
        just_price = pbr_this_year * bps_this_year #적정가격 도출 
    except :
        just_price = 100000000
    target_price = just_price * 0.8 #적정가격보다 20% 더 저렴한 가격 도출 
    
    return target_price

In [13]:
def get_price(stockCode):
    
    url = naver_stock + stockCode #종목 코드 url에 추가 
    result = requests.get(url)
    html = BeautifulSoup(result.content, "html.parser") #태그에서 현재가격 가지고오기 
    today = html.find("p", {"class":"no_today"}) 
    real_time_tag = today.find("span", {"class":"blind"})
    real_time_price = int(real_time_tag.text.replace(',',"")) #컴마 제거 후 인트형으로 변환 
    
    return real_time_price

In [14]:
def stock_advisor(market):
    codeList = get_code('market')
    for i in range(100):
        print(1)
        stockInfo = stock_info(codeList[i])
        target_price = get_target_price(stockInfo)
        real_time_price = get_price(codeList[i])
        
        result = ""
        if(real_time_price > target_price):
            result = "Y"
        else : 
            result = "N"
            
        pString = "종목코드 : {} / 적정가격 : {} / 현재가격 : {} / 매수여부 {}".format(codeList[i],target_price,real_time_price,result)
        print(pString)

In [15]:
#stockName = stocks[stocks['회사명'] == 'LG화학'].iloc[0]['종목코드']  종목명으로 종목코드 찾기
#result

In [16]:
stock_advisor("kospi")

invalid market
1
종목코드 : 004840 / 적정가격 : 5342.400000000001 / 현재가격 : 8480 / 매수여부 Y
1
종목코드 : 155660 / 적정가격 : 4563.240000000001 / 현재가격 : 7060 / 매수여부 Y
1
종목코드 : 001250 / 적정가격 : 1996.696 / 현재가격 : 3185 / 매수여부 Y
1
종목코드 : 294870 / 적정가격 : 23349.6 / 현재가격 : 30000 / 매수여부 Y
1
종목코드 : 092220 / 적정가격 : 1856.696 / 현재가격 : 2570 / 매수여부 Y
1
종목코드 : 016380 / 적정가격 : 12278.480000000001 / 현재가격 : 19950 / 매수여부 Y
1
종목코드 : 001390 / 적정가격 : 21584.880000000005 / 현재가격 : 29400 / 매수여부 Y
1
종목코드 : 058860 / 적정가격 : 2391.4240000000004 / 현재가격 : 3290 / 매수여부 Y
1
종목코드 : 011070 / 적정가격 : 164723.032 / 현재가격 : 211000 / 매수여부 Y
1
종목코드 : 066570 / 적정가격 : 119905.408 / 현재가격 : 151500 / 매수여부 Y
1
종목코드 : 037560 / 적정가격 : 3914.4 / 현재가격 : 7890 / 매수여부 Y
1
종목코드 : 010060 / 적정가격 : 97583.04 / 현재가격 : 122500 / 매수여부 Y
1
종목코드 : 096770 / 적정가격 : 175101.50400000002 / 현재가격 : 274500 / 매수여부 Y
1
종목코드 : 011810 / 적정가격 : 4839.535999999999 / 현재가격 : 9020 / 매수여부 Y
1
종목코드 : 024070 / 적정가격 : 80000000.0 / 현재가격 : 4830 / 매수여부 N
1
종목코드 : 011420 / 적정가격 : 1432.32 / 현재가격 : 2395 / 매수여부 Y
1
종목코드 : 002100 / 적정가격 : 10863.168 / 현재가격 : 16350 / 매수여부 Y
1
종목코드 : 012320 / 적정가격 : 32701.872 / 현재가격 : 40850 / 매수여부 Y
1
종목코드 : 007690 / 적정가격 : 54852.09600000001 / 현재가격 : 68700 / 매수여부 Y
1
종목코드 : 005320 / 적정가격 : 3263.6000000000004 / 현재가격 : 3400 / 매수여부 Y
1
종목코드 : 014530 / 적정가격 : 4874.88 / 현재가격 : 5170 / 매수여부 Y
1
종목코드 : 000270 / 적정가격 : 66427.776 / 현재가격 : 89800 / 매수여부 Y
1
종목코드 : 013700 / 적정가격 : 1761.5040000000001 / 현재가격 : 2705 / 매수여부 Y
1
종목코드 : 353200 / 적정가격 : 11165.304 / 현재가격 : 15550 / 매수여부 Y
1
종목코드 : 047040 / 적정가격 : 5290.360000000001 / 현재가격 : 8830 / 매수여부 Y
1
종목코드 : 003090 / 적정가격 : 26198.256 / 현재가격 : 37450 / 매수여부 Y
1
종목코드 : 145720 / 적정가격 : 51277.568 / 현재가격 : 64800 / 매수여부 Y
1
종목코드 : 042670 / 적정가격 : 9078.528 / 현재가격 : 14650 / 매수여부 Y
1
종목코드 : 026890 / 적정가격 : 10175.904 / 현재가격 : 14150 / 매수여부 Y
1
종목코드 : 115390 / 적정가격 : 11797.632 / 현재가격 : 14550 / 매수여부 Y
1
종목코드 : 286940 / 적정가격 : 30533.296 / 현재가격 : 44050 / 매수여부 Y
1
종목코드 : 027740 / 적정가격 : 570.1519999999999 / 현재가격 : 793 / 매수여부 Y
1
종목코드 : 008560 / 적정가격 : 3671.36 / 현재가격 : 4345 / 매수여부 Y
1
종목코드 : 017180 / 적정가격 : 4156.8 / 현재가격 : 5560 / 매수여부 Y
1

IndexError: single positional indexer is out-of-bounds

In [43]:
get_target_price('035250')

20238.08

In [60]:
get_price('035250')

28200

In [52]:
a = '28,200'
a = a.replace(',',"")

In [55]:
int(a)

28200

In [57]:
b = 28200

In [58]:
if int(a)==b :
    print(0)
else:
    print(1)

0

In [7]:
url = 'https://finance.naver.com/item/main.nhn?code=035250'
table_df_list = pd.read_html(url, encoding='euc-kr')    # 한글이 깨짐. utf-8도 깨짐. 그래서 'euc-kr'로 설정함  
table_df = table_df_list[3]

In [8]:
eps_2018 = table_df.iloc[9,1]
per_2018 = table_df.iloc[10,1]
bps_2018 = table_df.iloc[11,1]
pbr_2018 = table_df.iloc[12,1]
roe_2018 = table_df.iloc[5,1]

In [9]:
eps_2019 = table_df.iloc[9,2]
per_2019 = table_df.iloc[10,2]
bps_2019 = table_df.iloc[11,2]
pbr_2019 = table_df.iloc[12,2]
roe_2019 = table_df.iloc[5,2]

In [10]:
eps_2021 = table_df.iloc[9,-2]
per_2021 = table_df.iloc[10,-2]
bps_2021 = table_df.iloc[11,-2]
pbr_2021 = table_df.iloc[12,-2]
roe_2021 = table_df.iloc[5,-2]

In [11]:
eps_2020 = table_df.iloc[9,3]
per_2020 = table_df.iloc[10,3]
bps_2020 = table_df.iloc[11,3]
pbr_2020 = table_df.iloc[12,3]
roe_2020 = table_df.iloc[5,3]

In [17]:
eps2018 = eps_2018 * roe_2018 * 100
titrationPrice_2018 = per_2018 * eps_2018
pbr2020 =  pbr_2018 * bps_2018
print(eps2018)
print(titrationPrice_2018)
print(pbr2020)

1166210.0
32011.7
32020.71

In [18]:
eps2019 = eps_2019 * roe_2019 * 100
titrationPrice_2019 = per_2019 * eps_2019
pbr2019 =  pbr_2019 * bps_2019
print(eps2019)
print(titrationPrice_2019)
print(pbr2019)

1432624.0
29590.88
29522.570000000003

In [19]:
eps2020 = eps_2020 * roe_2020 * 100
titrationPrice_2020 = per_2020 * eps_2020
pbr2020 =  pbr_2020 * bps_2020
print(eps2020)
print(titrationPrice_2020)
print(pbr2020)

TypeError: can't multiply sequence by non-int of type 'str'

In [20]:
eps2021 = eps_2021 * roe_2021 * 100
titrationPrice_2021 = per_2021 * eps_2021
pbr2021 = pbr_2021 * bps_2021
print(eps2021)
print(titrationPrice_2021)
print(pbr2021)

93208.0
6436.700000000001
25297.600000000002

In [21]:
#result = stocks[stocks['회사명'] == 'LG화학'].iloc[0]['종목코드']  종목명으로 종목코드 찾기
#result

In [71]:
table_df_list[11]

      업체명       거래량         전일비
0   두산중공업   23400.0   하향  2,700
1    신풍제약   75600.0  상향  14,500
2    삼성전자   81000.0     하향  100
3     카카오  133500.0   상향  4,500
4     HMM   43900.0     상향  150
5     NaN       NaN         NaN
6    대한전선    3105.0      하향  95
7   NAVER  373500.0  상향  15,000
8      만도   65200.0   하향  8,200
9     쌍방울    1050.0     상향  143
10    현대차  236000.0   하향  3,500

In [46]:
bps

    주요재무정보 최근 연간 실적                              최근 분기 실적                    \
    주요재무정보  2018.12  2019.12  2020.12 2021.12(E)  2020.03  2020.06  2020.09
    주요재무정보   IFRS연결   IFRS연결   IFRS연결     IFRS연결   IFRS연결   IFRS연결   IFRS연결
11  BPS(원)  12979.0  12746.0  14647.0    16237.0  13108.0  14073.0  14910.0


    2020.12  2021.03 2021.06(E)
     IFRS연결   IFRS연결     IFRS연결
11  14647.0  15428.0        NaN

In [47]:
pbr

    주요재무정보 최근 연간 실적                            최근 분기 실적                  \
    주요재무정보  2018.12 2019.12 2020.12 2021.12(E)  2020.03 2020.06 2020.09
    주요재무정보   IFRS연결  IFRS연결  IFRS연결     IFRS연결   IFRS연결  IFRS연결  IFRS연결
12  PBR(배)     1.59    2.41    5.32       7.82     2.37     3.8    4.89


   2020.12 2021.03 2021.06(E)
    IFRS연결  IFRS연결     IFRS연결
12    5.32    6.46        NaN

In [28]:
table_df.loc[table_df.INDEX ==10]

AttributeError: 'DataFrame' object has no attribute 'INDEX'

In [17]:
table_df2 = table_df_list[4]
table_df2

,종목명,카카오*035720,NAVER*035420,아프리카TV*067160,키다리스튜디오*020120,자이언트스텝*289220
0,현재가,126500,362000,110700,15850,42000
1,전일대비,하향 500,"하향 1,000","상향 9,400",하향 100,상향 300
2,등락률,하향 -0.39%,하향 -0.28%,상향 +9.28%,하향 -0.63%,상향 +0.72%
3,시가총액(억),561479,594633,12724,5188,3996
4,외국인비율(%),33.34,56.56,50.40,1.12,.12
5,매출액(억),12580,14991,609,199,70
6,영업이익(억),1575,2888,196,23,-5
7,조정영업이익(억),1575,2888,196,23,-5
8,영업이익증가율(%),5.27,-10.79,10.67,285.57,-319.72
9,당기순이익(억),2399,153145,154,19,-4
10,주당순이익(원),506.44,93206.99,1349.12,76.89,-43.36
11,ROE(%),5.00,112.29,34.35,1.02,NaN
12,PER(%),184.13,3.69,27.30,278.07,-221.05
13,PBR(배),8.20,2.43,7.70,2.64,13.33

In [23]:
table_df3 = table_df_list[4]
table_df3

,종목명,카카오*035720,NAVER*035420,아프리카TV*067160,키다리스튜디오*020120,자이언트스텝*289220
0,현재가,126500,362000,110700,15850,42000
1,전일대비,하향 500,"하향 1,000","상향 9,400",하향 100,상향 300
2,등락률,하향 -0.39%,하향 -0.28%,상향 +9.28%,하향 -0.63%,상향 +0.72%
3,시가총액(억),561479,594633,12724,5188,3996
4,외국인비율(%),33.34,56.56,50.40,1.12,.12
5,매출액(억),12580,14991,609,199,70
6,영업이익(억),1575,2888,196,23,-5
7,조정영업이익(억),1575,2888,196,23,-5
8,영업이익증가율(%),5.27,-10.79,10.67,285.57,-319.72
9,당기순이익(억),2399,153145,154,19,-4
10,주당순이익(원),506.44,93206.99,1349.12,76.89,-43.36
11,ROE(%),5.00,112.29,34.35,1.02,NaN
12,PER(%),184.13,3.69,27.30,278.07,-221.05
13,PBR(배),8.20,2.43,7.70,2.64,13.33

In [33]:
table_df_list[4]

,종목명,카카오*035720,NAVER*035420,아프리카TV*067160,키다리스튜디오*020120,자이언트스텝*289220
0,현재가,126500,362000,110700,15850,42000
1,전일대비,하향 500,"하향 1,000","상향 9,400",하향 100,상향 300
2,등락률,하향 -0.39%,하향 -0.28%,상향 +9.28%,하향 -0.63%,상향 +0.72%
3,시가총액(억),561479,594633,12724,5188,3996
4,외국인비율(%),33.34,56.56,50.40,1.12,.12
5,매출액(억),12580,14991,609,199,70
6,영업이익(억),1575,2888,196,23,-5
7,조정영업이익(억),1575,2888,196,23,-5
8,영업이익증가율(%),5.27,-10.79,10.67,285.57,-319.72
9,당기순이익(억),2399,153145,154,19,-4
10,주당순이익(원),506.44,93206.99,1349.12,76.89,-43.36
11,ROE(%),5.00,112.29,34.35,1.02,NaN
12,PER(%),184.13,3.69,27.30,278.07,-221.05
13,PBR(배),8.20,2.43,7.70,2.64,13.33

In [34]:
table_df_list

[                      0                                            1  \
 0  전일  127,000  127,000  고가  128,500128,500  (상한가  165,000165,000  )
 1    시가  127,500127,500          저가  126,000126,000  (하한가  89,000  )

                             2
 0   거래량  1,717,349  1,717,349
 1  거래대금  218,403  218,403  백만  ,
      매도상위       거래량    매수상위       거개량
 0     NaN       NaN     NaN       NaN
 1  미래에셋대우  267552.0  미래에셋대우  283126.0
 2    한국증권  169383.0    키움증권  188078.0
 3      삼성  163572.0  NH투자증권  184365.0
 4  NH투자증권  145691.0      삼성  176343.0
 5    키움증권  145368.0    한국증권   64184.0
 6  외국계추정합   32555.0  -19521   13034.0,
       날짜        종가        전일비         외국인        기관
 0    NaN       NaN        NaN         NaN       NaN
 1  06/03  126500.0    하향  500      -66691    -29463
 2  06/02  127000.0         보합     -106664    -76154
 3  06/01  127000.0  상향  4,000    +851,809  +151,531
 4  05/31  123000.0  상향  1,000    +514,421   -161659
 5  05/28  122000.0  하향  3,000     -858820  +183,310
 6  05/27  125000.0  상향  5,500  +1,589,909  +576,022
 7    NaN       NaN        NaN         NaN       NaN,
        주요재무정보  최근 연간 실적                                 최근 분기 실적            \
        주요재무정보   2018.12   2019.12   2020.12 2021.12(E)   2020.03   2020.06
        주요재무정보    IFRS연결    IFRS연결    IFRS연결     IFRS연결    IFRS연결    IFRS연결
 0         매출액  24170.00  30701.00  41568.00   56716.00   8684.00   9529.00
 1        영업이익    729.00   2068.00   4559.00    7821.00    882.00    978.00
 2       당기순이익    159.00  -3419.00   1734.00    8319.00    799.00   1452.00
 3       영업이익률      3.02      6.73     10.97      13.79     10.16     10.26
 4        순이익률      0.66    -11.14      4.17      14.67      9.20     15.24
 5   ROE(지배주주)      1.04     -5.81      2.70      11.69     -4.73     -2.67
 6        부채비율     41.45     52.21     60.94        NaN     57.01     49.86
 7        당좌비율    146.51    127.98    162.77        NaN    134.03    144.53
 8         유보율  12219.62  12027.79  13881.01        NaN  12587.68  13665.91
 9      EPS(원)    123.00   -717.00    355.00    1752.00    179.00    320.00
 10     PER(배)    168.01    -42.82    219.25      72.48    -52.50   -152.84
 11     BPS(원)  12979.00  12746.00  14647.00   16237.00  13108.00  14073.00
 12     PBR(배)      1.59      2.41      5.32       7.82      2.37      3.80
 13   주당배당금(원)     25.00     25.00     30.00     102.00       NaN       NaN
 14   시가배당률(%)      0.12      0.08      0.04        NaN       NaN       NaN
 15    배당성향(%)     20.99     -3.46      8.29        NaN       NaN       NaN


      2020.09   2020.12   2021.03 2021.06(E)
       IFRS연결    IFRS연결    IFRS연결     IFRS연결
 0   11004.00  12351.00  12580.00   13459.00
 1    1202.00   1497.00   1575.00    1789.00
 2    1437.00  -1955.00   2399.00    1922.00
 3      10.92     12.12     12.52      13.29
 4      13.06    -15.83     19.07      14.28
 5      -1.33      2.70      5.00        NaN
 6      50.37     60.94     71.56        NaN
 7     148.86    162.77    163.55        NaN
 8   14373.52  13881.01  14508.10        NaN
 9     290.00   -428.00    506.00     445.00
 10   -404.46    219.25    144.96     285.38
 11  14910.00  14647.00  15428.00        NaN
 12      4.89      5.32      6.46        NaN
 13       NaN       NaN       NaN        NaN
 14       NaN       NaN       NaN        NaN
 15       NaN       NaN       NaN        NaN  ,
            종목명  카카오*035720 NAVER*035420 아프리카TV*067160 키다리스튜디오*020120  \
 0          현재가      126500       362000        110700          15850
 1         전일대비     하향  500    하향  1,000     상향  9,400        하향  100
 2          등락률  하향  -0.39%   하향  -0.28%    상향  +9.28%     하향  -0.63%
 3      시가총액(억)      561479       594633         12724           5188
 4     외국인비율(%)       33.34        56.56         50.40           1.12
 5       매출액(억)       12580        14991           609            199
 6      영업이익(억)        1575         2888           196             23
 7    조정영업이익(억)        1575         2888           196             23
 8   영업이익증가율(%)        5.27       -10.79         10.67         285.57
 9     당기순이익(억)        2399       153145           154             19
 10    주당순이익(원)      506.44     93206.99       1349.12          76.89
 11      ROE(%)        5.00       112.29         34.35           1.02
 12      PER(%)      184.13         3.69         27.30         278.07
 13      PBR(배)        8.20         2.43          7.70           2.64

    자이언트스텝*289220
 0          42000
 1        상향  300
 2     상향  +0.72%
 3           3996
 4            .12
 5             70
 6             -5
 7             -5
 8        -319.72
 9             -4
 10        -43.36
 11           NaN
 12       -221.05
 13         13.33  ,
           0               1
 0      시가총액  56조  1,479  억원
 1    시가총액순위          코스피 6위
 2     상장주식수       443857175
 3  액면가l매매단위     100원  l  1주,
              0          1
 0  외국인한도주식수(A)  443857175
 1  외국인보유주식수(B)  147984526
 2  외국인소진율(B/A)     33.34%,
            0                   1
 0  투자의견l목표주가  4.00매수  l  137,773
 1   52주최고l최저  132,500  l  49,577,
                    0                  1
 0   PERlEPS(2021.03)   184.13배  l  687원
 1          추정PERlEPS  72.00배  l  1,752원
 2  PBRlBPS (2021.03)  8.20배  l  15,428원
 3      배당수익률l2020.12              0.02%,
           0       1
 0  동일업종 PER   7.22배
 1  동일업종 등락률  -0.22%,
         매도잔량 호가(20분지연)      매수잔량
 0        NaN       NaN       NaN
 1    26290.0    131500       NaN
 2    48092.0    131000       NaN
 3    34061.0    130500       NaN
 4   208669.0    130000       NaN
 5    99755.0    129500       NaN
 6    85808.0    129000       NaN
 7   109812.0    128500       NaN
 8   150286.0    128000       NaN
 9    58078.0    127500       NaN
 10   10434.0    127000       NaN
 11       NaN       NaN       NaN
 12       NaN    126500   83363.0
 13       NaN    126000  134031.0
 14       NaN    125500   44814.0
 15       NaN    125000   70200.0
 16       NaN    124500   16571.0
 17       NaN    124000   14592.0
 18       NaN    123500    4165.0
 19       NaN    123000   16236.0
 20       NaN    122500    4691.0
 21       NaN    122000   11008.0
 22       NaN       NaN       NaN
 23  831285.0      잔량합계  399671.0,
        업체명       거래량        전일비
 0     삼성전자   82800.0  상향  2,000
 1     대한전선    2480.0    상향  385
 2    두산중공업   22750.0    상향  700
 3      HMM   47350.0    상향  100
 4      카카오  126500.0    하향  500
 5      NaN       NaN        NaN
 6     한국전력   25800.0    상향  150
 7     삼성제약   10650.0    상향  200
 8      현대차  238500.0    상향  500
 9   SK하이닉스  129000.0  상향  3,000
 10      기아   87000.0    상향  700,
          업체명       거래량         전일비
 0        코맥스    8340.0  상한가  1,920
 1     클라우드에어    2405.0    상한가  555
 2     카카오게임즈   55300.0   상향  1,900
 3      쎄미시스코   20150.0  상한가  4,650
 4      에이스테크   18450.0   상향  1,300
 5        NaN       NaN         NaN
 6     아프리카TV  110700.0   상향  9,400
 7   유바이오로직..   44250.0     상향  600
 8      원익IPS   51900.0   상향  1,500
 9         씨젠   64500.0          보합
 10       제넥신   97000.0     하향  500]