In [ ]:
분기별 평균 판매량 평균치 조회

In [26]:
#라이브러리 불러오기
import pandas as pd
import numpy as np

#파일 불러오기 및 형 변환
selloutData = pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")
selloutData = selloutData.astype({"REGIONID":str,
                                  "PRODUCT":str,
                                  "YEARWEEK":str,
                                  "QTY":float})

selloutData["YEAR"] , selloutData["WEEK"] = selloutData.YEARWEEK.str[:-2] , selloutData.YEARWEEK.str[-2:]

#분기별로 나눠 그룹 변수에 넣어줌
group1 = selloutData.loc[ selloutData.WEEK.astype(int) <=13 ]
group2 = selloutData.loc[ (selloutData.WEEK.astype(int)> 13) & (selloutData.WEEK.astype(int) <=26) ]
group3 = selloutData.loc[ (selloutData.WEEK.astype(int)> 26) & (selloutData.WEEK.astype(int) <=39) ]
group4 = selloutData.loc[ (selloutData.WEEK.astype(int)> 39) & (selloutData.WEEK.astype(int) <=52) ]

#groupKey를정의 
groupKey = ["REGIONID","YEAR","WEEK","PRODUCT"] 
#groupKey를 이용해 groupby 실행하고 MEAN컬럼에 평균값 넣어주기 / mean컬럼 -> qty_new로 재설정 
#1분기
groupedData1 = group1.groupby(groupKey)["QTY"].agg(["mean"]).reset_index()
groupedData1 = groupedData1.rename(columns = {"mean":"MEAN"})

#2분기
groupedData2 = group2.groupby(groupKey)["QTY"].agg(["mean"]).reset_index()
groupedData2 = groupedData2.rename(columns = {"mean":"MEAN"})

#3분기
groupedData3 = group3.groupby(groupKey)["QTY"].agg(["mean"]).reset_index()
groupedData3 = groupedData3.rename(columns = {"mean":"MEAN"})

#4분기
groupedData4 = group4.groupby(groupKey)["QTY"].agg(["mean"]).reset_index()
groupedData4 = groupedData4.rename(columns = {"mean":"MEAN"})

#결과출력 
print("1분기")
print(groupedData1)
print("\n2분기")
print(groupedData2)
print("\n3분기")
print(groupedData3)
print("\n4분기")
print(groupedData4)

1분기
      REGIONID  YEAR WEEK    PRODUCT    MEAN
0          A00  2014   01  PRODUCT34   661.0
1          A00  2014   01  PRODUCT58     0.0
2          A00  2014   01  PRODUCT59  9988.0
3          A00  2014   02  PRODUCT34   679.0
4          A00  2014   02  PRODUCT58     0.0
...        ...   ...  ...        ...     ...
30961      A77  2016   11  PRODUCT12  5188.0
30962      A77  2016   12   PRODUCT1  3172.0
30963      A77  2016   12  PRODUCT12  3576.0
30964      A77  2016   13   PRODUCT1  2957.0
30965      A77  2016   13  PRODUCT12  4058.0

[30966 rows x 5 columns]

2분기
      REGIONID  YEAR WEEK    PRODUCT     MEAN
0          A00  2014   14  PRODUCT34    312.0
1          A00  2014   14  PRODUCT58      0.0
2          A00  2014   14  PRODUCT59  22482.0
3          A00  2014   15  PRODUCT34    295.0
4          A00  2014   15  PRODUCT58      0.0
...        ...   ...  ...        ...      ...
30961      A77  2016   24  PRODUCT12   3275.0
30962      A77  2016   25   PRODUCT1   2739.0
30963      A77  2016   25  PRODUCT12   4158.0
30964      A77  2016   26   PRODUCT1   2555.0
30965      A77  2016   26  PRODUCT12   4815.0

[30966 rows x 5 columns]

3분기
      REGIONID  YEAR WEEK    PRODUCT     MEAN
0          A00  2014   27  PRODUCT34     82.0
1          A00  2014   27  PRODUCT58      6.0
2          A00  2014   27  PRODUCT59  25533.0
3          A00  2014   28  PRODUCT34    151.0
4          A00  2014   28  PRODUCT58      6.0
...        ...   ...  ...        ...      ...
30961      A77  2016   37  PRODUCT12   3002.0
30962      A77  2016   38   PRODUCT1   4699.0
30963      A77  2016   38  PRODUCT12   5583.0
30964      A77  2016   39   PRODUCT1   3665.0
30965      A77  2016   39  PRODUCT12  14734.0

[30966 rows x 5 columns]

4분기
      REGIONID  YEAR WEEK    PRODUCT     MEAN
0          A00  2014   40  PRODUCT34    184.0
1          A00  2014   40  PRODUCT58      3.0
2          A00  2014   40  PRODUCT59  50798.0
3          A00  2014   41  PRODUCT34    145.0
4          A00  2014   41  PRODUCT58      1.0
...        ...   ...  ...        ...      ...
30961      A77  2016   50  PRODUCT12   5846.0
30962      A77  2016   51   PRODUCT1   3671.0
30963      A77  2016   51  PRODUCT12   4933.0
30964      A77  2016   52   PRODUCT1   2759.0
30965      A77  2016   52  PRODUCT12   7551.0

[30966 rows x 5 columns]

In [25]:
#라이브러리 불러오기
import pandas as pd
import numpy as np

#파일 불러오기 및 형 변환
selloutData = pd.read_csv("./dataset/kopo_channel_seasonality_new.csv")
selloutData = selloutData.astype({"REGIONID":str,
                                  "PRODUCT":str,
                                  "YEARWEEK":str,
                                  "QTY":float})

selloutData["YEAR"] , selloutData["WEEK"] = selloutData.YEARWEEK.str[:-2] , selloutData.YEARWEEK.str[-2:]

#분기별로 나눠 그룹 변수에 넣어줌
group1 = selloutData.loc[ selloutData.WEEK.astype(int) <=13 ]
group2 = selloutData.loc[ (selloutData.WEEK.astype(int)> 13) & (selloutData.WEEK.astype(int) <=26) ]
group3 = selloutData.loc[ (selloutData.WEEK.astype(int)> 26) & (selloutData.WEEK.astype(int) <=39) ]
group4 = selloutData.loc[ (selloutData.WEEK.astype(int)> 39) & (selloutData.WEEK.astype(int) <=52) ]

#분기 컬럼 추가해 분기별로 구분이 쉽게해줌
group1["QUARTER"] = 1
group2["QUARTER"] = 2
group3["QUARTER"] = 3
group4["QUARTER"] = 4

#groupKey를정의 
groupKey = ["REGIONID","PRODUCT" , "QUARTER"] 
#groupKey를 이용해 groupby 실행하고 MEAN컬럼에 평균값 넣어주기 / mean컬럼 -> qty_new로 재설정 
#1분기
groupedData1 = group1.groupby(groupKey)["QTY"].agg(["mean"]).reset_index()
groupedData1 = groupedData1.rename(columns = {"mean":"MEAN"})

#2분기
groupedData2 = group2.groupby(groupKey)["QTY"].agg(["mean"]).reset_index()
groupedData2 = groupedData2.rename(columns = {"mean":"MEAN"})

#3분기
groupedData3 = group3.groupby(groupKey)["QTY"].agg(["mean"]).reset_index()
groupedData3 = groupedData3.rename(columns = {"mean":"MEAN"})

#4분기
groupedData4 = group4.groupby(groupKey)["QTY"].agg(["mean"]).reset_index()
groupedData4 = groupedData4.rename(columns = {"mean":"MEAN"})

#결과출력 
print("분기별 평균 판매량")
print("\n1분기")
print(groupedData1)
print("\n2분기")
print(groupedData2)
print("\n3분기")
print(groupedData3)
print("\n4분기")
print(groupedData4)

분기별 평균 판매량

1분기
    REGIONID    PRODUCT  QUARTER           MEAN
0        A00  PRODUCT34        1     195.256410
1        A00  PRODUCT58        1      17.102564
2        A00  PRODUCT59        1   33497.230769
3        A01   PRODUCT1        1    7390.794872
4        A01  PRODUCT12        1  147460.666667
..       ...        ...      ...            ...
789      A70  PRODUCT34        1    1621.487179
790      A70  PRODUCT58        1      75.179487
791      A70  PRODUCT59        1   55856.641026
792      A77   PRODUCT1        1    3406.641026
793      A77  PRODUCT12        1    3717.128205

[794 rows x 4 columns]

2분기
    REGIONID    PRODUCT  QUARTER           MEAN
0        A00  PRODUCT34        2      75.512821
1        A00  PRODUCT58        2     244.461538
2        A00  PRODUCT59        2   31408.333333
3        A01   PRODUCT1        2    4512.384615
4        A01  PRODUCT12        2  138307.461538
..       ...        ...      ...            ...
789      A70  PRODUCT34        2    2085.333333
790      A70  PRODUCT58        2      72.307692
791      A70  PRODUCT59        2   65582.102564
792      A77   PRODUCT1        2    2526.641026
793      A77  PRODUCT12        2    3050.205128

[794 rows x 4 columns]

3분기
    REGIONID    PRODUCT  QUARTER           MEAN
0        A00  PRODUCT34        3     158.589744
1        A00  PRODUCT58        3     115.153846
2        A00  PRODUCT59        3   39154.538462
3        A01   PRODUCT1        3    4732.230769
4        A01  PRODUCT12        3  158721.076923
..       ...        ...      ...            ...
789      A70  PRODUCT34        3    2873.435897
790      A70  PRODUCT58        3      48.230769
791      A70  PRODUCT59        3   80249.666667
792      A77   PRODUCT1        3    2777.794872
793      A77  PRODUCT12        3    3416.641026

[794 rows x 4 columns]

4분기
    REGIONID    PRODUCT  QUARTER           MEAN
0        A00  PRODUCT34        4     102.871795
1        A00  PRODUCT58        4      44.282051
2        A00  PRODUCT59        4   39770.179487
3        A01   PRODUCT1        4    6215.692308
4        A01  PRODUCT12        4  342812.410256
..       ...        ...      ...            ...
789      A70  PRODUCT34        4    2086.410256
790      A70  PRODUCT58        4      47.205128
791      A70  PRODUCT59        4   75692.743590
792      A77   PRODUCT1        4    2846.256410
793      A77  PRODUCT12        4    3701.256410

[794 rows x 4 columns]

<ipython-input-25-65652cf51549>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group1["QUARTER"] = 1
<ipython-input-25-65652cf51549>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group2["QUARTER"] = 2
<ipython-input-25-65652cf51549>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group3["QUARTER"] = 3
<ipython-input-25-65652cf51549>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group4["QUARTER"] = 4