In [1]:
import pandas as pd
import numpy as np

In [2]:
selloutData = pd.read_csv("./dataset/kopo_product_volume.csv")
selloutData.head()

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0      A01       ST0001    201415  810144
1      A01       ST0002    201415  128999
2      A01       ST0001    201418  671464
3      A01       ST0002    201418  134467
4      A01       ST0001    201413  470040

In [3]:
selloutData.columns = selloutData.columns.str.lower()

In [4]:
sortedData = selloutData.sort_values(["regionid","productgroup","yearweek"])